body{
    background-color: black;
    text-align: center;
    margin-top: 300px;
    background-image: url(https://i.pinimg.com/originals/60/77/21/6077219e88b648ef92674a154d42ef4a.gif);
}
h1,h2,h3,#i{
    color: oldlace;
    
}