body{
    background-color: black;
    text-align: center;
    margin-top: 300px;
    background-image: url(tumblr_nko76klPVz1slaspwo1_500.gif.crdownload);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
h1,h2,h3,#i{
    color: rgb(156, 1, 1);
    
}